# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.properties
nbproject/project.xml
application/config/database.php
application/config/config.php
static/cache/*
/nbproject/private/
application/config/config.php
application/config/database.php
application/config/config.php
file_storage/authority/12.09_.2014_.docx
file_storage/authority/12.09_.2014_1.docx
*.doc
*.docx
*.pdf
file_storage/property/default.jpeg
file_storage/authority/3f43938312862ab4e2d51aeaac64944d.jpeg
file_storage/authority/48ec941737c5784530cb9c7b16801efa.jpeg
file_storage/authority/5fd2b0f78159d749f9d84d8bcd8bf2ba.jpeg
file_storage/authority/6eba75757a564f903df547ccdd42d3ea.jpeg
file_storage/authority/bd45100d276082351319ec9475306ae1.jpeg
file_storage/authority/2ee921ee37ecd617feb2629235289998.jpeg